body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ECECEC;
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #38D39F;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: fixed;
}

.sidebar img {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin-bottom: 20px;
    border-radius: 100%;
}

.sidebar h2 {
    margin: 10px 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    text-align: left;
    width: 100%;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(219, 24, 24);
    border-radius: 5px;
}

.container {
    margin-left: 250px;
    padding: 20px;
    background: white;
    flex-grow: 1;
    border-radius: 20px;
}

.container1 {
    margin-left: 250px;
    padding: 20px;
    background: white;
    flex-grow: 1;
    border-radius: 30px;
    height: auto;
    width: calc(100% - 250px);
    margin-top: 50px;
}

.school-name {
    font-size: 1em;
    font-weight: bold;
    color: white;
    margin: 10px 0;
    text-align: center;
}

.centered-paragraph {
    font-size: 30px;
    margin: 0;
}

.deconnexion-link {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
}

.deconnexion-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.header a {
    text-decoration: none;
    color: #00796b;
}

.icon {
    color: white;
    font-size: 16px;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: 10px;
    margin-bottom: 50px;
    width: 1500px;
}

.search {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.search input {
    padding: 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 35px;
}

.search-button1 {
    background-color: #38D39F;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    color: white;
    /* Couleur du texte */
}

#special-paragraph {
    font-size: 25px;
    font-weight: bold;
}

.container1 h2 {
    margin-top: 20px;
    /* Espacement supérieur pour le titre */
}

.container1 table {
    width: 100%;
    /* Prend toute la largeur disponible */
    border-collapse: collapse;
    /* Évite les doubles bordures */
    margin-top: 20px;
    /* Espacement au-dessus du tableau */
}

.container1 th,
.container1 td {
    border: 1px solid #ccc;
    /* Bordure des cellules */
    padding: 10px;
    /* Espacement à l'intérieur des cellules */
    text-align: left;
    /* Alignement du texte */
}

.container1 th {
    background-color: #f2f2f2;
    /* Couleur de fond pour les en-têtes */
}

.mois-select,
.montant-select {
    padding: 5px;
    /* Espacement à l'intérieur du select */
    border: 1px solid #ccc;
    /* Bordure du select */
    border-radius: 5px;
    /* Coins arrondis */
    background-color: white;
    /* Couleur de fond */
}

.container1 p {
    margin: 5px 0;
    /* Espacement pour les paragraphes */
    font-size: 18px;
    /* Taille de police pour les détails de l'élève */
    line-height: 1.5;
    /* Hauteur de ligne pour améliorer la lisibilité */
    color: #333;
    /* Couleur du texte des détails */
}

.btn-submit {
    background-color: #38D39F;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.btn-recu {
    background-color: #38D39F;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
    /* Couleur du texte en vert */
    font-weight: bold;
    /* Texte en gras */
    margin: 10px 0;
    /* Espace autour du message */
}

.modal-content {
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.header {
    text-align: center;
    margin-top: 10px;
}

.header img {
    width: 100px;
    /* Ajustez selon vos besoins */
    margin-bottom: 5px;
}

.info-section {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.footer {
    margin-top: 30px;
    text-align: right;
}

.signature-logo {
    width: 100px;
    /* Ajustez selon vos besoins */
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #38D39F;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #B6FF00;
}