/* Styles globaux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #f3f3f3;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #38d5a3;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 100px;
    margin-bottom: 20px;
}

.sidebar h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin: 20px 0;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.menu ul li a i {
    margin-right: 10px;
}

.menu ul li a:hover {
    color: #2ba584;
}


/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    color: #333;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 5px 10px;
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    padding: 5px;
    font-size: 14px;
}

.search-bar button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.logout {
    font-size: 14px;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logout i {
    margin-left: 5px;
}

/* Grid Options */
.grid-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 40px;
}

.option {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.option h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}

.option button {
    background-color: #38d5a3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option button:hover {
    background-color: #2ba584;
}
