body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    display: flex;
}

.sidebar {
    width: 200px;
    /* Largeur de la sidebar */
    background-color: #38D39F;
    /* Couleur de la sidebar */
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: fixed;
    /* Fixe la sidebar */
}

.sidebar img {
    width: 100%;
    height: auto;
    max-width: 200px;
    /* Limite la largeur maximale de l'image */
    margin-bottom: 20px;
    border-radius: 100%;
}

.sidebar h2 {
    margin: 10px 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    text-align: left;
    width: 100%;
    /* Pour occuper toute la largeur */
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(219, 24, 24);
    border-radius: 5px;
}

.container {
    margin-left: 250px;
    /* Augmente le décalage pour plus d'espacement */
    padding: 20px;
    background: white;
    flex-grow: 1;
}

.school-name {
    font-size: 1em;
    font-weight: bold;
    color: white;
    margin: 10px 0;
    text-align: center;
    /* Centrer le texte */
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background: #e7f9f2;
    border-radius: 8px;
    height: 50px;
    margin-bottom: 50px;
}

.centered-paragraph {
    font-size: 30px;
    /* Augmentez la taille de la police */
    text-align: center;
    /* Centre le texte */
    flex: 1;
    /* Permet au paragraphe d'utiliser l'espace disponible */
    margin: 0;
    /* Supprime les marges par défaut */
}

.deconnexion-link {
    display: flex;
    align-items: center;
    color: #000;
    /* Couleur du texte */
    text-decoration: none;
    /* Pas de soulignement */
}

.deconnexion-link1 {
    display: flex;
    color: #000;
    text-decoration: none;
    margin-left: 1300px;
}

.deconnexion-icon {
    width: 20px;
    /* Taille de l'icône */
    height: 20px;
    /* Taille de l'icône */
    margin-left: 5px;
    /* Espace entre le texte et l'icône */
}

header h1 {
    font-size: 24px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #00796b;
}

.statistic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7f9f2;
    /* Couleur de fond du bloc */
    padding: 20px;
    border-radius: 30px;
    height: 150px;
}

.stat {
    text-align: center;
    flex: 1;
}

.stat h2 {
    margin: 0;
    font-size: 36px;
    color: #000;
    /* Couleur du texte */
}

.stat p {
    margin: 5px 0 0;
    color: #000;
    /* Couleur du texte */
}

.divider {
    width: 2px;
    /* Largeur de la ligne de séparation */
    height: 100px;
    /* Hauteur de la ligne de séparation */
    background-color: #4caf50;
    /* Couleur de la ligne de séparation */
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-right: 70px;
}

.search input {
    padding: 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 35px;
}

.search-button {
    position: absolute;
    right: 10px;
    /* Positionnement à droite */
    background-color: #38D39F;
    /* Couleur de fond du bouton */
    border: none;
    border-radius: 50%;
    /* Arrondi complet */
    padding: 8px;
    /* Ajustez la taille du bouton */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 608px;
}

.search input::placeholder {
    font-size: 18px;
    /* Taille de la police du placeholder */
    color: #aaa;
    /* Couleur du placeholder, si désiré */
}

.icon {
    color: white;
    /* Couleur de l'icône */
    font-size: 16px;
    /* Taille de l'icône */
}

.image-container {
    display: flex;
    /* Utiliser flexbox */
    justify-content: center;
    /* Centrer horizontalement */
    margin-top: 10px;
    /* Augmentez l'espace au-dessus de l'image */
}